* {
	font-family: 'Kanit', sans-serif;
}

body {
	background-color: #32008f;
}

h1 {
	color: #e3d040;
	display: flex;
	justify-content: center;
}

.container {
	color: #e3d040;
	padding: 0px 320px;
	display: flex;
	justify-content: center;
}

.size {
	color: #e3d040;
	padding: 0px 450px;
	display: flex;
	justify-content: flex-start;
}

.submitBtn {
	padding: 10px 250px;
	display: flex;
	justify-content: center;
}

p {
	color: #e3d040;
}
